<div class="form-edit">
  <div mat-dialog-title class="title">Employee Form</div>
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="Ex. Shaimaa" formControlName="firstname">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Ex. Shaimaa Hamdi" formControlName="lastname">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input type="email" matInput placeholder="Ex. shaimaa@gmail.com" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-label><b>Gender</b></mat-label>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="femal">Female</mat-radio-button>
          <mat-radio-button value="other">Others</mat-radio-button>
        </mat-radio-group>

      </div>
      <div class="row-exption">
        <mat-form-field appearance="outline">
          <mat-label> Qualification </mat-label>
          <mat-select formControlName="education">
            <mat-option *ngFor="let edu of education" [value]="edu" >
              {{edu}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field formControlName="phone">
          <mat-label>Phone number</mat-label>
          <example-tel-input formControlName="tel" required></example-tel-input>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <input type="text" matInput placeholder="Ex. Google" formControlName="company">
        </mat-form-field> -->

      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Experience</mat-label>
          <input type="number" matInput placeholder="Ex. 3years" formControlName="exp">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Package</mat-label>
          <input type="number" matInput placeholder="Ex. 10.5" formControlName="package">
          <mat-hint> In Rupees</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warn" type="button" mat-dialog-close="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data? 'Update' : 'Save'}}</button>
    </div>
  </form>
</div>
