.header {
  background-color: #009688;

  span {
    color: #fff;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  button {
    background-color: #ffffff;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: #ffff;
    }
  }
}

.main-body{
  padding-top: 20px;
  max-width: 1248px;
  margin: 0 auto;
  mat-form-field{
    width: 100%;

  }
  .action{
    display: flex;
    gap: 5px;
  }
}
